@charset utf-8;
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Heavy'), local('Oswald-Heavy'), url('Oswaldheavy.woff2') format('woff2'), url('Oswaldheavy.woff') format('woff'), url('Oswaldheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/*
#f2c061 - текст
#902628 - фон страницы

*/

body {
    /* height: 1280px;
    width: 720px;
*/
    background: #902628;
}

table {
    font-family: 'Oswald';

}

th {

    background: #f2c061;

}

.1col {
    font-family: 'Oswald';

}

h1 {
    font-family: 'Oswald';
    color: white;

}

h2 {
    font-family: 'Oswald';
    color: white;
    background: black;
    width: 250px;
    border-radius: 10px 10px;
    padding: 2px;
}

td {
    text-align: center;
}

#snow1 {
    position: absolute;
}

#snow2 {
    position: absolute;
    right: 0;
}
#player{
    width: 300px;
    
}
#song{
    width: 400px;
}
.audio{
    margin-top: 1%;
}
#final{
    margin: 1% 1%;
}