@charset utf-8;
@font-face {
    font-family: 'Oswald';
    src: local('Oswald Heavy'), local('Oswald-Heavy'), url('Oswaldheavy.woff2') format('woff2'), url('Oswaldheavy.woff') format('woff'), url('../type/Oswaldheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

:root {
    --main-font-family: 'Oswald', serif;
    --bg-color: #902628;
    --text-color: #f2c061;
    --h1-color: white;
    --pictures-position: absolute;
}

body {
    background: var(--bg-color);
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
}

.headline {
    text-align: center;
}

.background {
    background: url("../pics/backgr.jpg");
}

.navbutton {
    font-family: var(--main-font-family);
    background: white;
    border: solid black 2px;
    border-radius: 10px 10px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin-left: 20px;
}
.flex-container {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    align-content: stretch;
    flex-wrap: wrap;
}

.cell-wireframe {
    font-family: var(--main-font-family);
    border: solid black 1px;
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.cell-color {
    vertical-align: center;
    background: antiquewhite;
}

.header-cell {
    background: var(--text-color);
}

table {
    font-family: var(--main-font-family);
}

th {
    background: var(--text-color)
}

col {
    font-family: var(--main-font-family);

}

h1 {
    font-family: var(--main-font-family);
    color: var(--h1-color);

}

h2 {
    font-family: var(--main-font-family);
    color: var(--h1-color);
    background: black;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px 10px;
    padding: 2px;
}

td {
    text-align: center;
}

.snow-pic {
    position: var(--pictures-position);
    width: 256px;
    height: 256px;
}
.snow-right {
    right: 0;
}

.sound-icon {
    width: 32px;
    height: 32px;
}

.emoji-icon {
    width: 64px;
    height: 64px;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

audio {
    margin-left: 40%;
    width: 25%;
}